<%- include('partials/head'); %>

    <%- include('partials/navbar'); %>
        <h1>The Home Page</h1>
        <!--This is an example of ejs-->
        <%=4 + 5 + 1%>
            <!--This is an example of ejs-->
            <%='Hello World!'.toUpperCase()%>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque autem veniam amet, impedit
                    quia
                    consequatur
                    molestias quos corporis ullam optio aliquam recusandae aperiam voluptatem fugiat iste! Cum
                    deserunt
                    accusamus
                    ipsum?
                    Quaerat nostrum corporis tempora eos nobis! Perferendis dolorum magni itaque eaque saepe
                    recusandae
                    fugit
                    quos,
                    corporis praesentium, perspiciatis dolor voluptate officiis doloremque laborum aut incidunt.
                    Delectus
                    aut
                    laudantium dolorum quidem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum impedit, beatae unde quis commodi
                    error
                    quo
                    quod
                    debitis nemo alias, distinctio iure omnis! Nihil cum eius repellendus voluptas quis laboriosam?
                </p>
                <%- include('partials/footer'); %>